[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
	branch = HEAD

[submodule "third_party/rnnoise"]
	path = third_party/rnnoise
	url = https://github.com/djthorpe/rnnoise
