name: CI
# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

on:
  push:
    tags:
      - "v*.*.*"



jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        uses: actions/checkout@v1

      - name: Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential
          sudo apt-get install libsdl2-dev

      - name: Build
        run: |
          make all
          ls build/

      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: whisper-linux-bin
          path: build/

  macOS-latest:
    runs-on: macOS-latest

    steps:
      - name: Clone
        uses: actions/checkout@v1

      - name: Dependencies
        run: |
          brew update
          brew install sdl2

      - name: Build
        run: |
          make all
          ls build/

      - name: Upload binaries
        uses: actions/upload-artifact@v3
        with:
          name: whisper-mac-bin
          path: build/